<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="items">
<%= render @items -%>
  </tbody>
</table>

<%= render 'form', is_remote: true %>

<br>

<%= link_to 'New Item', new_item_path %>
